{% extends 'layout.html' %}

{% block body %}
		<div class="jumbotron text-center">
			<h1>Apparatus for Machine Learning Algorithms</h1>
		</div>
		<div class="container">
			<h2>Sample training examples</h2>
			<ul>
				<li><a href="iris">Iris Classification</a></li>
				<li><a href="rnn">Recurrent Neural Network ( RNN )</a></li>
				<li><a href="lstm">Long Short Term Memory - Recurrent Neural Network ( LSTM RNN )</a></li>
				<li><a href="gru">Gated Recurrent Unit - Recurrent Neural Network ( GRU RNN )</a></li>
				<li><a href="cnn">Convolutional Neural Network ( CNN )</a></li>
			</ul>
		</div>
{% endblock %}